/* styles.css */
.container {
    margin-top: 20px;
}
h2 {
    margin-bottom: 20px;
}
.form-group {
    margin-bottom: 15px;
}

th {
    text-align: center !important;
    vertical-align: middle !important;
    font-family: 'Roboto';
    font-weight: 400;
    color: #ffffff !important;
    font-size: 18px;
    background-color: #85b969 !important;
}

td {
    font-size: 18px !important;
}

.btn-warning{
    color: #ffffff !important;
    border: none !important;
    font-weight: 500;
    font-size: 1.1rem !important;
    transition: all 0.3s ease;
    padding: 8px !important;
    border-radius: 10px !important;
    background-color: #ffffff !important;
}

.btn-warning:hover{
    color: #ffffff !important;
    border: none !important;
    font-weight: 500;
    font-size: 1.1rem !important;
    transition: all 0.3s ease;
    padding: 8px !important;
    border-radius: 10px !important;
    background-color: #d7f49f !important;
}

.actions-icon {
    text-align: center !important;
    vertical-align: middle !important;
}

.btn-success {
    background-color: #85b969 !important;
    color: white !important;
    border: none !important;
    padding: 12px !important;
    font-size: 18px !important;
    border-radius: 10px !important;
}

.btn-success:hover {
    background-color: #ffffff !important;
    color: #226100!important;
    border: none !important;
    padding: 12px !important;
    font-size: 18px !important;
    border-radius: 10px !important;
}