strong {
    background: linear-gradient(to bottom, #a5af36, #226100);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.text-success {
    text-decoration: none;
}

.btn-success {
    background-color: #85b969 !important;
    color: white !important;
    border: none !important;
    padding: 12px !important;
    font-size: 18px !important;
    border-radius: 10px !important;
}

.btn-success:hover {
    background-color: #ffffff !important;
    color: #226100!important;
    border: none !important;
    padding: 12px !important;
    font-size: 18px !important;
    border-radius: 10px !important;
}

/* .text-muted {
    max-width: 70% !important;
} */

.about-wiki {
    max-width: 70% !important;
}