.form-group {
    margin-bottom: 15px !important;
}

.btn-primary {
    margin-top: 10px;
    background-color: #4b872a !important;
    color: white !important;
    border: none !important;
    padding: 12px !important;
    font-size: 18px !important;
    border-radius: 10px !important;
}

.btn-primary:hover {
    background-color: #ffffff !important;
    color: #226100!important;
}

.btn-secondary {
    margin-top: 10px;
    margin-left: 15px !important;
    background-color: #b8be70 !important;
    color: white !important;
    border: none !important;
    padding: 12px !important;
    font-size: 18px !important;
    border-radius: 10px !important;
}

.btn-secondary:hover {
    background-color: #ffffff !important;
    color: #7a831c!important;
}